__pycache__/*
data/*
data/__pycache__/*
mls/__pycache__/*
tests/__pycache__/*
kyle/.ipynb_checkpoints/*
manifold_utils/__pycache__/*
tests/.ipynb_checkpoints/*
.ipynb_checkpoints/*
*.png
*.csv
*.h5ad
+
